body {
  background: black;
}
#score {
  font-size: 40px;
  text-align: center;
  color: white;
}
#lights {
  margin: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.light {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #f44336;
  margin: 20px;
  transform: translate3d(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.light.on {
  box-shadow: 0 0 10px 5px #f44336;
}
.text-center {
  text-align: center;
}
button {
  background: white;
  color: #333;
  border: 0;
  border-radius: 5px;
  padding: 20px 40px;
  font-size: 20px;
}
